
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.contain {
    height: 100%;
    background-image: url(img/background.png);

}
.play {
    font-size: 2.6rem;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
}
.img-dice {
    width: 50%;
    height: auto;
}
.button-play-again {
    display: flex;
    justify-content: center;
}
.btnInfo {
    margin-top: 15px!important;
    font-size: larger!important;
}
p {
    text-align: justify;
}
@media only screen and (max-width: 800px) {
    .play {
       font-size: 1.3rem;
    }
    .score {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
    }
    .img-dice {
        width:100%;
        height: auto;
    }

}
@media only screen and (min-width: 1000px) {
   
  
}


    /* 
    @media only screen and (min-width: 407px) {

   .play {
       font-size: 1.75rem;
   }
   }
 @media only screen and (min-width: 603px) {
   .play {
       font-size: 2rem;
   }
}
@media only screen and (max-width: 1315px) {

} */

.diceIcon {
    padding: 1%;
    margin: 1%;
    text-align: center;
}
.lancer {
    display: flex;
    padding: 1%;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
.throw:hover {
    box-shadow: 10px 10px;
}


.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
}
.img-contain {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 2%;
    margin: 2%;

}
.img-box {
    max-width: 150px;
    max-height: 150px;
    width: 10px;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    width: 20%;
    max-width: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 117, 4);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 15%;
    height: auto;
    justify-content: center;
    border: rgb(0, 0, 0) solid 1.5px;
    border-radius: 12px;
    min-width: 127px;
    box-shadow: 3px 6px #322c2c;
}
.button:hover {
    background-color: rgb(15, 150, 8);
    box-shadow: 3px 6px black;
}


